@tailwind base;
@tailwind components;
@tailwind utilities;


/* Elimina el color del autocompletado en los inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
}

.text-shadow-bottom {
    transition: text-shadow 0.1s ease; 
  }
  
  .text-shadow-bottom:hover {
    text-shadow: 0px 0px 3px rgba(238, 226, 226, 0.5); }

    .bg-custom-svg {
      background-image: url('/storage/app/public/images/hola.svg'); 
      background-size: cover; 
      background-position: center;
  }

 

  #solutions div div{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

  }

  @keyframes show{
    from {
      scale: 75%;
    }

    to {
      scale: 100%;
    }
  }

  /* Estilos para estilizar nuestro calendario. */

  .fc-toolbar{
    @apply gap-4 text-center;
  }

  .fc-toolbar-title{
    @apply font-semibold;
  }

  .fc-toolbar-chunk{
    @apply flex flex-col justify-items-center gap-1;
  }

  .fc-direction-ltr .fc-toolbar .fc-button-group{
    @apply ml-0;
  }

  .fc .fc-daygrid-day.fc-day-today{
    @apply bg-gray-200 w-full;
  }

  .fc {
    @apply overflow-hidden;
}

  #calendar table{
    @apply bg-white;
  }
  